body {
    margin: 0;
  }
  
  img {
    width: 100%;
  }
  
  /* Здесь обязательно надо добавить высоту и ширину. А последнее значение - для эффекта, как в 3D */
  .flip-card {
    background-color: pink;
    width: 100%;
    height: 600px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;  
  }
  
  /* Этот контейнер нужен для позиционирования переда и обратной стороны фото */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Поворот горизонтальный */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Позиционирования переда и обратной стороны фото на телефоне */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Стиль переда и обратной стороны фото */
  .flip-card-back {
    background-color: #f14668;
    color: white;
    transform: rotateY(180deg);
  }
  